.topdiv{
    height: calc(100vh - 71px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.imagecontainer{
    text-align: center;
}

.imagestyle{
    /* width: 40vw; */
    width:80%; /* Adjust the max-width as needed */
    height: auto;
}

.para{
    margin: 10px;
}