body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-size: 18px;
    font-family: "Outfit", sans-serif;
    font-style: normal;
    background-color: rgb(224, 248, 255);
}