
.outerOfNavbar{
    display: flex;
    /* margin: 10px; */
    /* background-color:rgb(188, 212, 185); */
    border-radius: 13px;
    font-size: 1.125rem;
    letter-spacing: 0;
}

.navbar{
    display:flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

.titlenavbar{
    border-radius: 15px;
    padding: 3px;
    /* background-color: aquamarine; */
    background-color: #1ad1ce;
}

.childnavbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.link{
    color: #000; /* Remove default blue color */
    text-decoration: none; /* Remove default underline */
    outline: none; /* Remove default outline on focus */
}

.para{
    font-size: 1.1rem;
    color: rgb(20, 20, 20);
    font-weight: 400;
    margin: 5px;
}

.titlelink{
    font-size: 1.3rem;
    color:black;
    border-bottom: 2px solid rgb(20, 20, 20);
    font-weight: 400;
}

.para:active{
    /* color: rgb(224, 248, 255); */
    color: rgb(176, 203, 254);
}

.titlelink:active{
    color: rgb(20, 20, 20);
}

.para:hover{
    border-bottom: 2px solid rgb(20, 20, 20);
    /* margin: 9px; */
}

