
.maindiv{
    display: flex;
    height: calc(100vh - 84px);
    margin: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bbdiv{
    display: flex;
    justify-content: center;
    align-items: center;
}

.bgdiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titlediv{
    padding: 5px;
}

.smdiv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ismdiv{
    display: flex;
    padding: 5px;
}

.ismdiv_i{
    padding: 0 5px;
}

.submitdiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.inputelement{
    width: 300px;
    padding: 10px;
    padding-left: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    text-align: left;
}

.inputelement:focus{
    border-color: #006d6b;
    outline: none; /* Remove default outline */
}

.submitbutton{
    width: 100px;
    padding: 10px;
    font-size: 16px;
    border-radius: 15px;
    border: 1px solid #ccc;
    background-color: #006d6b;
    color: white;
}
