
.donorcomponent{
    border: 1px solid black;
    border-radius: 15px;
    width: 300px;
    display: flex;
    flex-direction: row;
    padding:  0.6rem;
    margin: 1rem;
    background-color: rgb(26, 43, 57);
    color: whitesmoke;
}

.partone {
    width: 40%;
    background-color: rgb(7, 152, 135);
    margin: 0.5rem;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.parttwo{
    width: 60%;
    /* margin-left: 0.5rem; */
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
}

.parttwodiv{
    text-align: start;
}

.para{
    margin: 0;
}

.availableyes{
    width: 5%;
    border-radius: 2rem;
    background-color: rgb(46, 165, 46);
    margin: 4px;
    padding: 5px;
}

.availableno{
    width: 5%;
    border-radius: 2rem;
    background-color: rgb(101, 108, 109);
    margin: 4px;
    padding: 5px;
}