.topdiv{
    height: calc(100vh - 84px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.imagecontainer{
    text-align: center;
}

.imagestyle{
    width:70%;
    height: auto; 
}

.para{
    margin: 10px;
}